/* =========================
   AUTH PAGE CONTAINER
========================= */

.authPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.authPage::after {
   content: "";
  position: absolute;
  inset: 0;

  background-image: url("/assets/ethos-icon.svg");
  background-repeat: no-repeat;
  background-position: left  -180px top;
  background-size: clamp(420px, 45vw, 620px);

  opacity: 0.025;
  filter: blur(0.3px);

  pointer-events: none;
  z-index: 0;
}
.authPage::before {
   content: "";
  position: absolute;
  inset: 0;

  background-image: url("/assets/ethos-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom -80px right -80px;
  background-size: clamp(420px, 35vw, 620px);

  opacity: 0.025;
  filter: blur(0.3px);

  pointer-events: none;
  z-index: 0;
}
/* =========================
   CARD STRUCTURE
========================= */

.topBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.brandTitle {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.content {
  width: 100%;
}

/* =========================
   LIGHT THEME
========================= */

:global(html[data-theme="light"]) {
  .authPage {
    background: linear-gradient(135deg, #e6edf3 0%, #cfd9df 100%);
  }
}

/* =========================
   DARK THEME
========================= */

:global(html[data-theme="dark"]) {
  .authPage {
    background: linear-gradient(180deg, #000003 0%, #0f3366 100%);

    // background: linear-gradient(
    //   135deg,
    //   #020617 0%,
    //   #0f172a 100%
    // );
  }
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 768px) {
  .authPage {
    padding: 1.5rem;
  }

  .brandTitle {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .authPage {
    padding: 1rem;
  }

  .brand {
    margin-bottom: 1.5rem;
  }
}
