@use "@/styles/abstracts/breakpoints" as *;

.card {
  width: 100%;
  max-width: 420px;

  background: var(--surface-primary);
  border: 1px solid var(--border-primary);
  border-radius: 22px;

  padding: 2.75rem 2.5rem;

  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  
  @include respond(sm) {
    max-width: 420px;
  }

  @include respond(md) {
    padding: 2.2rem 2rem;
  }

  @include respond(lg) {
    padding: 2.75rem 2.5rem;
    border-radius: 22px;
  }
}

