.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  color: var(--text-primary);

  margin-bottom: 0.5rem;
  letter-spacing: 0.3px;
}

.description {
  font-size: 0.95rem;
  text-align: center;
  // color: rgba(255, 255, 255, 0.65);
  color: var(--text-primary);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.helper {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.85rem;

  a {
    color: #f5b942;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }
}
