@use "../abstracts/variables" as c;


/* ================================
   HEADER
================================ */

.header {
  text-align: center;
  margin-bottom: 2rem;

  h1 {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 800;
    color: white;

    span {
      color: #fb5;
    }
  }

  p {
    margin-top: 0.4rem;
    font-size: 0.95rem;
    color: #94a3b8;
  }
}



/* ================================
   FORM
================================ */

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

}


/* ================= LOGIN PAGE ================= */

.authPage {
  min-height: 100vh;
  padding: 6rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, c.$bl11 0%, c.$bl07 100%);
  position: relative;
  overflow: hidden;
}

.authPage > * {
  position: relative;
  z-index: 1;
}

/* Background icon */
.authPage::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/assets/ethos-icon.svg");
  background-repeat: no-repeat;
  background-position: right -140px bottom -120px;
  background-size: clamp(280px, 40vw, 420px);

  opacity: 0.025;
  filter: blur(0.4px);

  pointer-events: none;
  z-index: 0;
}

/* ================= LOGIN CARD ================= */


/* ================= HEADER ================= */

.authHeader {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  font-size: 1.25rem;
  font-weight: 800;
  color: white;
}

.authSubtitle {
  color: #9fb4d6;
  margin-bottom: 0.5rem;

  font-size: 0.95rem;
  line-height: 1.5;
}

/* ================= ERROR ================= */

.authError {
  font-size: 0.85rem;
  color: #f87171;
}




/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .authPage {
    padding: 5rem 2rem;
  }

  .authPage::before {
    background-position: center bottom -90px;
    background-size: 360px;
    opacity: 0.02;
  }
}

@media (max-width: 768px) {
  .authPage {
    padding: 4rem 1.5rem;
  }

  .authCard {
    padding: 2.25rem 2rem;
  }
}

@media (max-width: 480px) {
  .authPage::before {
    background-size: 220px;
    background-position: center bottom -50px;
    opacity: 0.015;
  }

  .authCard {
    padding: 2rem 1.5rem;
  }

  .authHeader {
    font-size: 1.15rem;
  }

  .authButton {
    font-size: 0.9rem;
    padding: 0.85rem;
  }
}
