@use "@/styles/components/input" as inputStyles;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.label {
  @include inputStyles.input-label;
}

.input {
  @include inputStyles.input-base;
}
.field {
  @include inputStyles.field-base;
}

.error {
  border-color: red;
}

.message {
  font-size: 0.75rem;
  color: red;
}

// @use "@/styles/abstracts/variables" as *;
// @use "@/styles/abstracts/mixins" as *;

// .wrapper {
//   display: flex;
//   flex-direction: column;
//   gap: 0.4rem;
//   width: 100%;
// }

// .label {
//   font-size: 0.8rem;
//   font-weight: 500;
//   color: var(--text-secondary);
// }

// .input {
//   padding: 0.75rem;
//   border-radius: 8px;
//   border: 1px solid var(--border-color);
//   background: var(--input-bg);
//   color: var(--text-primary);

//   transition: all 0.2s ease;

//   &:focus {
//     outline: none;
//     border-color: $ethos-gold; // vem de variables
//     box-shadow: 0 0 0 2px rgba($ethos-gold, 0.2);
//   }
// }

// .error {
//   border-color: $error-color; // se existir token
// }

// .message {
//   font-size: 0.75rem;
//   color: $error-color;
// }
