.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--bg-secondary);
  padding: 0.5rem 1rem;
  border-radius: 999px;

  input {
    border: none;
    outline: none;
    background: transparent;
    color: var(--text-primary);
    font-size: 0.9rem;
  }
}

.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.iconButton {
  position: relative;
  width: 36px;
  height: 36px;
  background: var(--bg-secondary);
  // color: #0f172a !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: var(--hover-bg);
  }
}

.badge {
  position: absolute;
  top: -4px;
  right: -4px;
  background: var(--brand-primary);
  color: white;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.name {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--text-primary);
}

.role {
  font-size: 0.7rem;
  color: var(--text-secondary);
}

