// @use "@/styles/abstract/variables" as v;
@use "../../../styles/abstracts/variables" as v;

.page {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/* =========================
   LEFT SIDE
========================= */
.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 1024px) {
    width: 66.666%;
  }
}

/* USER CARDS */
.userCards {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* MIDDLE CHARTS */
.middleCharts {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.countChart {
  width: 100%;
  height: 450px;

  @media (min-width: 1024px) {
    width: 33.333%;
  }
}

.attendanceChart {
  width: 100%;
  height: 450px;

  @media (min-width: 1024px) {
    width: 66.666%;
  }
}

/* BOTTOM CHART */
.financeChart {
  width: 100%;
  height: 500px;
}

/* =========================
   RIGHT SIDE
========================= */
.right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media (min-width: 1024px) {
    width: 33.333%;
  }
}
