.wrapper {
  position: relative;
  width: 100%;
  height: 75%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  background: var(--surface-primary);
  padding: 10px 14px;
  border-radius: 999px;

  box-shadow: var(--shadow-sm);
}

.girl {
  color: var(--ethos-yellow);
}

.boy {
  color: var(--ethos-sky);
}
