.container {
  background: var(--surface-secondary);
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;

  border: 1px solid var(--border-primary);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-primary);
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 10px;
}

.statBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.boys {
  background: var(--ethos-sky);
}

.girls {
  background: var(--ethos-yellow);
}

.value {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-primary);
}

.label {
  font-size: 12px;
  color: var(--text-secondary);
}
