@use "../../../../styles/abstracts/variables" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background: var(--surface-primary);
  border-radius: v.$radius-lg;
  padding: 1.5rem;
  box-shadow: var(--shadow-sm);
  border: 1px solid var(--border-primary);

  height: 100%;
}

.chartArea {
  width: 100%;
  height: 280px;
}

.legend {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 0.875rem;
  color: var(--text-secondary);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.present {
  background: var(--chart-present);
}

.absent {
  background: var(--chart-absent);
}


// .wrapper {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
// }

// .legend {
//   display: flex;
//   gap: 1.5rem;
//   margin-top: 1rem;
//   font-size: 0.85rem;
//   color: var(--text-secondary);
// }

// .legendItem {
//   display: flex;
//   align-items: center;
//   gap: 0.5rem;
// }

// .dot {
//   width: 12px;
//   height: 12px;
//   border-radius: 50%;
// }

// .present {
//   background: var(--ethos-yellow);
// }

// .absent {
//   background: var(--ethos-sky);
// }
// // 